NODE_ENV=development
PORT=5000
DATABASE_URL="postgresql://neondb_owner:npg_hajq07EkJsev@ep-falling-bird-b5ga2g7o-pooler.c-7.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# JWT Configuration
JWT_ACCESS_SECRET="super-secret-access-token-jwt-key-change-in-production-min32char"
JWT_REFRESH_SECRET="super-secret-refresh-token-jwt-key-change-in-production-min32char"
ACCESS_TOKEN_EXPIRES_IN="15m"
REFRESH_TOKEN_EXPIRES_IN="7d"

# CORS & URLs
FRONTEND_URL="http://localhost:3000"
